<script src="/static/login.js"></script>
<div id="container_register" class="container">
    <div class="input-group mb-3">
		<form id="form_login" method="post">
			<input name="email" type="email" class="form-control" id="email_input" placeholder="Email">
			<input name="password" type="text" class="form-control" id="password_input" placeholder="Password">
			<input id="submit_login" type="submit" class="btn btn-primary">
		</form>
	</div>
  </div>