<div id="container_login" class="container">
<div class="input-group mb-3"></div>
<div class="input-group mb-3">
  <input type="text" class="form-control" name="Login" id="login_input" placeholder="Login">
</div>
<div class="input-group mb-3">
  <input type="text" class="form-control" name="Password" id="password_input" placeholder="Password">
</div>
<div class="input-group mb-3">
  <input type="checkbox" name="remember" id="check_remember">
</div>
<div class="input-group mb-3">
  <button type="submit" class="btn btn-primary" name="Log in">Log in</button>
</div>
