<script src="/static/register.js"></script>
<div id="container_register" class="container">
    <div class="input-group mb-3">
		<form id="form_register" method="post">
			<input name="username" type="text" class="form-control" id="username_input" placeholder="Login">
			<input name="email" type="email" class="form-control" id="email_input" placeholder="Email">
			<input name="password" type="text" class="form-control" id="password_input" placeholder="Password">
			<input name="password_confirmation" type="text" class="form-control" id="confirm_password_input" placeholder="Confirm password">
			<input id="submit_register" type="submit" class="btn btn-primary">
		</form>

	</div>
  </div>
