<div id="container_register" class="container">
    <div class="input-group mb-3"></div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="username_input" placeholder="Login">
    </div>
    <div class="input-group mb-3">
      <input type="email" class="form-control" id="email_input" placeholder="Email">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="password_input" placeholder="Password">
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="confirm_password_input" placeholder="Confirm password">
    </div>
    <div class="input-group mb-3">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </div>
