<script src="/static/pongsocket-tournament.js"></script>
<div>
	<div style="display: flex; justify-content: center;">
		<h1 id="game_name">Tournament (id : </h1 id="tournament_id"><%= @tournament_id %></h1>)</h1>
  </div>
  <div style="display: flex; justify-content: center;">
		<h2>Score</h2>
	</div>
	<div style="display: flex; justify-content: center;">
		<h2 id="score_text">0 - 0</h2>
	</div>
	<div style="display: flex; align-items: center; justify-content: center;">
		<canvas id="drawCanvas" width="800px" height="600px"
			style="display: flex; align-items: center; justify-content: center;"></canvas>
	</div>
	<div style="display: flex; justify-content: center;">
		<h1 id="winner_text"></h1>
	</div>
</div>