<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>  <!-- Insertion de la variable @title -->
  </head>
  <body>
    <h1>Bienvenue sur <%= @title %> !</h1> <!-- Insertion de la variable @title -->
    <p>L'heure actuelle est : <%= @current_time %></p> <!-- Insertion de la variable @current_time -->
  </body>
</html>
